body {
    font-family: 'Raleway', Arial, sans-serif;
    margin: 20px;
    background-color:#000000;/*radial-gradient(circle at 0% 0%, #000000, #555555);*/
    background-repeat: no-repeat; 
    background-position: center;
    height: 100vh;
    background-size: cover;
    display: flex; /* Active le flexbox pour le corps */
    justify-content: flex-start; /* Aligne horizontalement à gauche */
    align-items: center; /* Centre verticalement */
    padding-left: 20px; /* Ajoute une petite marge à gauche si nécessaire */
}

h1, h2, h3, h4 {
    color: #ffffff;
}

.suivretesperformance {
    font-family: 'Barlow Condensed', sans-serif; /* Applique la police Barlow Condensed */
    font-size: 2.4em; /* Définit la taille de police à 3 fois la taille de base */
    text-align: left; /* Aligne le texte à gauche */
    margin-left: 52px;
    margin-top:23%;
    width: 100%;
}

.suivre {
    color: rgb(255, 255, 255); /* Couleur blanche pour le texte */
    font-size: 3em;
}

.performance {
    color: #7ed957; /* Change la couleur du texte en vert */
    font-size: 3em;
}


.logo {
    width: 140px; /* Adjust the width to make it smaller */
    height: auto; /* Keep the aspect ratio intact */
    position: absolute; /* Fixes the image to the top-left corner */
    top: 0.4%; /* Adjusts the vertical position from the top */
    left: 5%; /* Adjusts the horizontal position from the left */
    z-index: 1000; /* Ensures the logo is on top of other elements */
    
}

.paragraphe{
     font-size: 0.5em;
     font-family: 'Raleway', Arial, sans-serif;
     font-weight: 500; /* Gras */
     line-height: 0;
     font-weight: 400;
     color: rgba(255, 255, 255, 0.5);
     margin-top: 100px;
}



@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/BarlowCondensed-Italic.ttf') format('truetype'); /* Assurez-vous que le nom du fichier est correct */
    /* Vous pouvez également ajouter d'autres formats si nécessaire */
}

@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('fonts/BarlowCondensed-Bold.ttf') format('truetype');
}



@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/Raleway-Thin.ttf') format('truetype'); /* Assurez-vous que le nom du fichier est correct */
    /* Vous pouvez également ajouter d'autres formats si nécessaire */
}

@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('fonts/Raleway-Black.ttf') format('truetype');
}

.perf{
width: auto;
height: 400px;
margin: 0;         /* Supprime toutes les marges */
display: block;    /* S'assure que l'image se comporte comme un bloc */
}

















section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}

section span {
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
}

section span:hover {
  background: #0f0; /* Couleur changeante au survol */
  transition: 0s;
}

/* Adaptation des carreaux pour les écrans de moins de 900px */
@media (max-width: 900px) {
  section span {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}

/* Adaptation des carreaux pour les écrans de moins de 600px */
@media (max-width: 600px) {
  section span {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}


@media screen and (max-width: 950px) {
  
.suivre {
  color: rgb(255, 255, 255); /* Couleur blanche pour le texte */
  font-size: 1.5em;
}

.performance {
  color: #7ed957; /* Change la couleur du texte en vert */
  font-size: 1.5em;
}




}
  
@media screen and (max-width : 1250px) {
  .snip1226{ 
    display: none;
  }
  
  .perf{
    display: none;
      }
  
      
  
}

@media screen and (max-width: 700px){
  
  .suivretesperformance {
    margin-top:80%;
    margin: 0;
  }
    
 
}


@media screen and (min-width:2000px){
  .perf{
    width: auto;
    height: 800px;
  }
  .paragraphe{
    font-size: 1em;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 500; /* Gras */
    line-height: 0;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    
    word-spacing: 3px;
    margin-top: 10px;    /* Espace au-dessus */
    margin-bottom: 10px; /* Espace en dessous */

  }
  .suivretesperformance{

    margin-bottom: 500px;
  
  }
}

  
.perf-bas{
  width: 100%; /* L'image occupe 100% de la largeur de son conteneur */
  max-width: 500px;
  width: 400px; /* La largeur maximale de l'image */
  height: auto; /* Garde les proportions de l'image */
  position: absolute; /* Positionnement absolu */
  top : 73%; /* Place l'image en bas */
  left:10%; /* Centre horizontalement */
  display: none;
  
}

@media screen and (max-width : 1250px) {
  .perf-bas{
   display: block;
  }
}

@media screen and (min-width : 1600px ) and ( max-width:1999px) {
  .perf{
    height: auto;
    width: 600px;

  }
  
}

@media screen and (min-width : 375px ) and (max-width : 413px ){
  .suivretesperformance{
    margin-top: 100px;

  }
  
}

.menu{
  height: auto;
  width: 50px;
  position: absolute;
  top: 40px;
  right: 120px;
  display: none;

}

@media screen and (max-width : 1250px) {
  .menu{
    display: block;
  }
}






/* Style de l'image */
.menu {
  width: 30px; /* Ajustez selon vos besoins */
  cursor: pointer;
}

/* Style du menu déroulant */
.dropdown-menu {
  position: absolute;
  top: 110px; /* Ajustez pour aligner avec l'image */
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none; /* Masqué par défaut */
  padding: 10px;
  z-index: 10;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu ul li {
  margin: 5px 0;
}

.dropdown-menu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.dropdown-menu ul li a:hover {
  color: #007bff;
}
